@font-face {
  font-family: ProximaNovaAltSemibold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
}

#signupBox{
  width: 70%;
  height: fit-content;
  font-family: ProximaNovaAltSemibold;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  margin: 20% auto 0 auto;
  color: #ffffff;
  font-size: 3em;
}

#signUpTextBox{
  color: #000000;
  text-align: center;
  margin: 12% 0 12% 0;
}

#commitButtonEmailSignUp{
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
}

@media screen and (max-width: 1366px){
  #signupBox{
    font-size: 1.5em;
  }
  #commitButtonEmailSignUp{
    width: 160px;
  }
}

@media screen and (max-width: 415px){
  #signupBox{
    margin: 50% auto 0 auto;
  }

  #signUpTextBox{
    margin: 13% 0 0 0;
  }

  #commitButtonEmailSignUp{
    width: 100px;
  }
}
