@font-face {
  font-family: ProximaNovaAltRegular;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Regular.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Regular.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNovaAltSemibold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNovaAltBold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Bold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Bold.ttf") format("truetype");
}

.scroll-content{
  padding: 0!important;
}

#questionBox{
  padding: 7% 0 0 0;
  text-align: center;
}

#questionOf{
  font-size: 6em;
  color: #f8d747;
  margin: 0;
  font-family: ProximaNovaAltBold;
}

#actualQuestion{
  font-size: 4em;
  color: #ffffff;
  margin: 0;
  font-family: ProximaNovaAltSemibold;
}

#questionsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1120px;
  margin:60px 0 0 0;
  position:absolute;
  left:50%;
  margin-left:-560px;
}

#question1, #question2, #question3, #question4{
  position: relative;
  text-align: center;
  width: 500px;
  height: 185px;
  border: solid;
  color: #ffffff;
}

#question1{
  margin: 0 120px 60px 0;
}

#question2{
  margin: 0 0 60px 0;
}

#question3{
  margin: 0 120px 0 0;
}

#buttonImage1, #buttonImage2, #buttonImage3, #buttonImage4{
  width: 1000px;
  height: 180px;
  opacity: 0.5;
}

#answerToQuestion1, #answerToQuestion2, #answerToQuestion3, #answerToQuestion4{
  position: absolute;
  font-family: ProximaNovaAltRegular;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  font-size: 2.5em;
}

#confirmButtonQuiz{
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
}

#winScreen{
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
}

@media screen and (max-width: 1366px){
  #questionsContainer{
    width: 1020px;
    margin:60px 0 0 0;
    margin-left:-340px;
  }

  #question1{
    margin: 0 80px 40px 0;
  }

  #question2{
    margin: 0 0 40px 0;
  }

  #question3{
    margin: 0 80px 0 0;
  }

  #question1, #question2, #question3, #question4{
    width: 300px;
    height: 125px;
  }

  #answerToQuestion1, #answerToQuestion2, #answerToQuestion3, #answerToQuestion4{
    font-size: 2em;
  }

  #buttonImage1, #buttonImage2, #buttonImage3, #buttonImage4{
    width: 300px;
    height: 120px;
  }

  #confirmButtonQuiz{
    width: 160px;
  }

  #winScreen{
    width: 160px;
  }
}

@media screen and (max-width: 415px){
  #questionBox{
    padding: 15% 0 0 0;
  }

  #questionOf{
    font-size: 3em;
  }

  #actualQuestion{
    font-size: 2em;
  }

  #questionsContainer{
    width: 320px;
    margin:80px 0 0 0;
    position:absolute;
    left:50%;
    margin-left:-160px;
  }

  #question1{
    margin: 0 40px 20px 0;
  }

  #question2{
    margin: 0 0 20px 0;
  }

  #question3{
    margin: 0 40px 0 0;
  }

  #question1, #question2, #question3, #question4{
    width: 140px;
    height: 95px;
  }

  #answerToQuestion1, #answerToQuestion2, #answerToQuestion3, #answerToQuestion4{
    font-size: 1.5em;
  }

  #buttonImage1, #buttonImage2, #buttonImage3, #buttonImage4{
    width: 140px;
    height: 90px;
  }

  #confirmButtonQuiz{
    width: 100px;
  }

  #winScreen{
    width: 100px;
  }
}
