page-results {

}

@font-face {
  font-family: ProximaNovaAltBold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Bold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Bold.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNovaAltSemibold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
}

#thanksMessage{
  font-size: 8em;
  color: #f8d747;
  //padding: 7% 0 0 12%;
  text-align: center;
}

#thanksMessageBox{
  //display: flex;
  //margin: 0;
  width: 1000px;
  //padding: 7% 0 0 20%;
  margin: 5% auto 0 auto;
  font-family: ProximaNovaAltBold;
}

#resultsBox{
  width: 70%;
  height: fit-content;
  font-family: ProximaNovaAltSemibold;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  margin: 7% 0 0 15%;
  color: #ffffff;
}

#resultsBox p {
  margin: 0;
  color: #000000;
}

#results{
  font-size: 4.5em;
  text-align: center;
  padding: 3% 0 3% 0;
}

#textBox1{
  width:  50%;
  margin: 0 auto 5% auto;
}

#textBox2, #textBox1{
  text-align: center;
  font-size: 2.5em;
}

#textBox2{
  margin: 0 0 5% 0;
}

#email{
  display: flex;
  color: #000000;
  margin:0 0 0 25%;
}

#confirmButton{
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
}

@media screen and (max-width: 1366px){

  #thanksMessage{
    font-size: 5em;
  }

  #results{
    font-size: 3em;
    //padding: 3% 0 3% 0;
  }

  #textBox1{
    width:  50%;
    margin: 0 auto 5% auto;
  }

  #textBox2, #textBox1{
    text-align: center;
    font-size: 2em;
  }

  #confirmButton{
    width: 160px;
   }
}

@media screen and (max-width: 415px){
  #thanksMessage{
    font-size: 3em;
  }

  #thanksMessageBox{
    width: 414px;
    margin: 15% 0 0 0;
  }

  #results{
    font-size: 2em;
  }

  #textBox1{
    width:  70%;
  }

  #textBox2, #textBox1{
    font-size: 1.5em;
  }

  #email{
    margin:0
  }

  #email input{
    width: 75%;
  }

  #resultsBox{
    //height: 40%;
    //height: 50%;
  }

  #confirmButton{
    width: 100px;
  }
}

@media screen and (max-width: 376px){
  #thanksMessageBox{
    width: 375px;
  }
}
