@font-face {
  font-family: ProximaNovaAltSemibold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
  src: url("../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
}

#tirpitz-logo{
  padding: 10% 10% 5% 10%;
}

#startGameBox{
  width: 70%;
  height: fit-content;
  font-family: ProximaNovaAltSemibold;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  margin: 0% 15%;
  color: #ffffff;
}

#startGameBox p{
  font-size: 6em;
  margin: 0;
  color: #000000;
}

#startQuizContainer{
  text-align: center;
  margin: 7% 0 7% 0;
}

#blackArrow{
  width: 200px;
}

@media screen and (max-width: 1366px){
  #blackArrow{
    width: 150px;
  }
}

@media screen and (max-width: 415px){
  #tirpitz-logo{
    padding: 15% 10% 5% 10%;
  }

  #startGameBox{
    height: 30%;
    margin: 20% 15%;
  }

  #startGameBox p{
    font-size: 4em;
  }

  #startQuizContainer{
    margin: 7% 0 0 0;
  }

  #blackArrow{
    width: 90px;
  }
}

@media screen and (max-width: 360px){
  #startGameBox p{
    font-size: 3em;
  }
}
