page-home {
}

@font-face {
  font-family: ProximaNovaAltRegular;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Regular.ttf") format("truetype");
}

ion-content{
}

#tirpitz-logo{
  padding: 10% 10% 5% 10%;
}

#startGameBox{
  width: 70%;
  height: 40%;
  font-family: ProximaNovaAltRegular;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  margin: 0% 15%;
  color: #ffffff;
}

#startGameBox p{
  font-size: 6em;
  margin: 0;
  color: #000000;
}

#blackArrow{
  width: 200px;
  margin: 0 0 0 15%;
}

#startQuizContainer{
  padding: 7% 0 0 30%;
}

/*
@media screen and (max-width: 1367px){
  ion-content{
    background-size: 2100px;
  }
}
/*
@media screen and (min-width: 1023px){
  ion-content{
    //background-size: 2500px;
  }
}
*/
/*
#bg{

  width: 100px;
  height: 100px;
  background-image: url("../../assets/imgs/home.jpg");

}
*/
