page-game-rules {

}

@font-face {
  font-family: ProximaNovaAltSemibold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Semibold.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNovaAltBold;
  src: url("../../assets/fonts/Mark Simonson - Proxima Nova Alt Bold.ttf") format("truetype");
}

#spilletsRegler{
  font-family: ProximaNovaAltBold;
  font-size: 11em;
  color: #f8d747;
  padding: 7% 0 0 0;
  text-align: center;
}

#startQuizBox{
  width: 70%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid;
  margin: 7% 0 0 15%;
  color: #ffffff;
}

#startQuizTextContainer{
  padding: 7% 2% 0 2%;
}

#startQuizTextContainer p{
  font-family: ProximaNovaAltSemibold;
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  color: #000000;
}

#commitButton{
  width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 30px;
}

@media screen and (max-width: 1366px){
  #spilletsRegler{
    font-size: 7em;
  }

  #startQuizTextContainer p{
    font-size: 2em;
  }

  #commitButton{
    width: 160px;
  }
}

@media screen and (max-width: 415px){
  #spilletsRegler{
    font-size: 3em;
    padding: 25% 0 0 0;
  }

  #startQuizTextContainer p{
    font-size: 1.5em;
  }

  #startQuizBox{
    height: 45%;
  }

  #commitButton{
    width: 100px;
  }
}
